{% extends 'base.html.twig' %}

{% block pageTitle %}
	Map
{% endblock %}

{% block body %}
<div id="wrapper" class="container-fluid">
{% for label, flashes in app.session.flashbag.all %}
    {% for flash in flashes %}
        <div class="alert alert-{{ label }}">
            {{ flash }}
        </div>
    {% endfor %}
{% endfor %}
	<section id="userMap" class="">

	</section>
</div>
{% endblock %}

{% block head %}
	{{ parent() }}
	{# CSS #}
	<link rel="stylesheet" type="text/css" href="{{ asset('css/map.css') }}">

	{# LEAFLET #}
	<link rel="stylesheet" href="{{ asset('css/leaflet.css') }}" />
	<link rel="stylesheet" href="{{ asset('css/easy-button.css') }}" />
{% endblock %}

{% block footerScripts %}
	{# LEAFLET #}
	<script type="text/javascript" src="{{ asset('js/leaflet.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/easy-button.js') }}"></script>
	{# JS #}
	<script type="text/javascript" src="{{ asset('js/map.js') }}"></script>
{% endblock %}
