<h3>{{ name }}</h3>

{% if picture %}
	<a href="{{ pictures_dir }}/{{ picture }}"><img src="{{ thumbs_dir }}/{{ picture }}.png"></a>
{% endif %}

<p>{{ description }}</p>
<hr/>
<a href="/view/plot/{{ id }}">View&nbsp;more</a>
