<div style="min-width:300px;">
<h3>{{ plot.name }}</h3>

<div>
{% if plot.pictures %}
	<a href="{{ pictures_dir }}/{{ plot.pictures[0].path }}"><img style="display:block; margin-left:auto; margin-right:auto;" src="{{ thumbs_dir }}/{{ plot.pictures[0].path }}.png"></a>
{% endif %}
</div>
<p>{{ plot.note }}</p>
<hr/>
<a href="/view/plot/{{ plot.id }}">View&nbsp;more</a>
</div>
