{% extends 'base.html.twig' %}

{% block body %}
	{% for label, flashes in app.session.flashbag.all %}
	    {% for flash in flashes %}
	        <div class="alert alert-{{ label }}">
	            {{ flash }}
	        </div>
	    {% endfor %}
	{% endfor %}
	<h1>REGISTER NAO!</h1>	
	<div class="wrapper">
		{{ form_start(form) }}
		{{ form_widget(form) }}
		{{ form_end(form) }}
	</div>
{% endblock %}