{% extends 'base.html.twig' %}

{% block pageTitle %}
	View Spot
{% endblock %}

{% block body %}


<div class="container">

	<div id="plot-header" data-lng="{{ plot.lng }}" data-lat="{{ plot.lat }}">
		<h1 style="display: inline-block; margin-right:10px;">{{ plot.name }}</h1>
		<button id="show-form" type="button" class="btn btn-primary btn-xs btn-show">
			<i class="glyphicon glyphicon-plus-sign"></i>
		</button>
		<button id="hide-form" type="button" class="btn btn-info btn-xs btn-show" style="display: none;">
			<i class="glyphicon glyphicon-minus-sign"></i>
		</button>
	</div>
	<div id="form-upload" style="display: none;">
		<div style="width: 300px; display: inline-block">
		<form id="add-image" method="post" enctype="multipart/form-data">
			<input name="img" type="file" class="filestyle" data-buttonBefore="true" data-placeholder="Add an image"/>
		</form>
		<button type="submit" form="add-image" class="btn btn-primary btn-sm" style="margin-top:5px;">
			<span class="glyphicon glyphicon-upload"> Upload</span>
		</button>
		</div>
	</div>
	<div id="plot-note">
		{{ plot.note }}
	</div>
	<div id="plot-tags">
		{% for tag in plot.tags %}
			<a href="{{ path('viewTag', {'id': tag.id }) }}"><span class="label label-primary"># {{ tag.name }}</span></a>
		{% endfor %}
	</div>
	<div id="plot-image">
		{% if not plot.pictures is empty %}
			<img class="img-plot img-responsive" src="/uploads/pictures/{{ plot.pictures[0].path }}"/>
		{% endif %}
	</div>
	<div id="gallery">
		<ul id="lightSlider">
			{% for picture in plot.pictures %}
				<li>
					<img class="thumbnail" data-path="/uploads/pictures/{{ picture.path }}" src="/uploads/pictures/thumbs/{{ picture.path }}.png" />
				</li>
			{% endfor %}
		</ul>
	</div>
	<div id="map-plot">

	</div>
	<div id="user-content">

	</div>
</div>	
{% endblock %}

{% block head %}
	{{ parent() }}

	{# LEAFLET #}
	<link rel="stylesheet" href="{{ asset('css/leaflet.css') }}" />
	
	{# PLOTVIEW #}
	<link rel="stylesheet" href="{{ asset('css/plotview.css') }}" />
	<link type="text/css" rel="stylesheet" href="{{ asset('css/lightslider.min.css') }}" />
{% endblock %}

{% block footerScripts %}
	{# LEAFLET #}
	<script type="text/javascript" src="{{ asset('js/leaflet.js') }}"></script>
	{# JS #}
	<script type="text/javascript" src="{{ asset('js/plotview.js') }}"></script>
	
	<script type="text/javascript" src="{{ asset('js/bootstrap-filestyle.min.js') }}"> </script>
	
	<script type="text/javascript" src="{{ asset('js/lightslider.min.js') }}"></script>
{% endblock %}
