{% extends 'base.html.twig' %}

{% block pageTitle %}
	View Spot
{% endblock %}

{% block body %}
<nav class="navbar navbar-default" role="navigation">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#">Fluffy Doodle</a>
	</div>
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav">
			<li><a href="/map">Map</a></li>
			<li><a href="#">Register</a></li>
		</ul>
	</div>
</nav>

<div class="container">

	<div id="plot-header" data-lng="{{ plot.lng }}" data-lat="{{ plot.lat }}">
		<h1>{{ plot.name }}</h1>		
	</div>
	<div id="plot-note">
		{{ plot.note }}
	</div>
	<div id="plot-tags">
		{% for tag in plot.tags %}
			<a href="/view/tag/{{ tag.id }}"><span class="label label-primary"># {{ tag.name }}</span></a>
		{% endfor %}
	</div>
	<div id="plot-image">
		{% if not plot.pictures is empty %}
			<img class="img-plot img-responsive" src="/uploads/pictures/{{ plot.pictures[0].path }}"/>
		{% endif %}
	</div>
	<div id="gallery">
		<ul id="lightSlider">
			{% for picture in plot.pictures %}
				<li>
					<img class="thumbnail" data-path="/uploads/pictures/{{ picture.path }}" src="/uploads/pictures/thumbs/{{ picture.path }}.png" />
				</li>
			{% endfor %}
		</ul>
	</div>
	<div id="map-plot">

	</div>
	<div id="user-content">

	</div>
</div>	
{% endblock %}

{% block head %}
	{{ parent() }}

	{# LEAFLET #}
	<link rel="stylesheet" href="{{ asset('css/leaflet.css') }}" />
	
	{# PLOTVIEW #}
	<link rel="stylesheet" href="{{ asset('css/plotview.css') }}" />
	<link type="text/css" rel="stylesheet" href="{{ asset('css/lightslider.min.css') }}" />
{% endblock %}

{% block footerScripts %}
	{# LEAFLET #}
	<script type="text/javascript" src="{{ asset('js/leaflet.js') }}"></script>
	{# JS #}
	<script type="text/javascript" src="{{ asset('js/plotview.js') }}"></script>
	
	<script type="text/javascript" src="{{ asset('js/lightslider.min.js') }}"></script>
{% endblock %}
