{% extends 'base.html.twig' %}

{% block pageTitle %}
	View Tag
{% endblock %}

{% block body %}

<div class="container">
	<h1 id="tag-name" data-id="{{ tag.id }}">Plots with tag: {{ tag.name }}</h1>
	<div class="list-group">
	{% if tag.plots|length > 10 %}
		{% include 'page/tagViewPlots.html.twig' with {'plots':tag.plots, 'offset':0, 'limit':10} %}
	{% else %}
		{% include 'page/tagViewPlots.html.twig' with {'plots':tag.plots, 'offset':0, 'limit':tag.plots|length} %}
	{% endif %}
	<div id="loader" class="hidden">Load</div>
  </div>
</div>	
{% endblock %}

{% block head %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{ asset('tagview.css') }}">
{% endblock %}

{% block footerScripts %}
	<script type="text/javascript" src="{{ asset('js/tagview.js') }}"></script>
{% endblock %}



