{% extends 'base.html.twig' %}

{% block pageTitle %}
	View Tag
{% endblock %}

{% block body %}
<nav class="navbar navbar-default" role="navigation">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#">Fluffy Doodle</a>
	</div>
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav">
			<li><a href="/map">Map</a></li>
			<li><a href="#">Register</a></li>
		</ul>
	</div>
</nav>

<div class="container">
	<h1 id="tag-name" data-id="{{ tag.id }}">{{ tag.name }}</h1>
	<div class="list-group">
	{% include 'page/tagViewPlots.html.twig' with {'plots':tag.plots, 'offset':0, 'limit':10} %}
	<div id="loader" class="hidden">Load</div>
  </div>
</div>	
{% endblock %}

{% block head %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{ asset('tagview.css') }}">
{% endblock %}

{% block footerScripts %}
	<script type="text/javascript" src="{{ asset('js/tagview.js') }}"></script>
{% endblock %}



