{% extends 'base.html.twig' %}

{% block body %}
<div id="wrapper" class="container-fluid">
	<div id="top-nav" class="navbar">
		<ul class="navbar-right">
			
		</ul>
		<ul class="navbar-left">
			
		</ul>
	</div>
	<section id="userMap" class="">

	</section>
</div>
{% endblock %}

{% block head %}
	{{ parent() }}
	{# CSS #}
	<link rel="stylesheet" type="text/css" href="{{ asset('css/map.css') }}">

	{# LEAFLET #}
	<link rel="stylesheet" href="{{ asset('css/leaflet.css') }}" />
{% endblock %}

{% block footerScripts %}
	{# LEAFLET #}
	<script src="{{ asset('js/leaflet.js') }}"></script>

	{# JS #}
	<script type="text/javascript" src="{{ asset('js/map.js') }}"></script>
{% endblock %}